/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* ALGEMENE STIJLEN */
:root {
  --main-color:black;
  --main-color-a:#5F9EDE;
  --header-color-a:white;
  --background-color:#fff;
  --main-header-color:#333;
  --section-header-color:#E34140;
  --button-background-color:#D6D6D6;
  /* --white-space:5vw;  */
}

@font-face {
  font-family: "apple-font";
  src: url("/fonts/SFPRODISPLAYREGULAR.woff") format("woff");
}

body {
  margin:0;
  background-color:var(--background-color);
  font-family: apple-font; 
  color:var( --main-color);
}

a {
  font:inherit;
  color:var(--main-color-a);
}

section img {
  width: 100%; 
  }

h1 {
    text-align: center;
    line-height: .5em; 
    font-size:x-large;
  }
  
h2 {
    text-align: center;
    line-height: .5em; 
    font-size:x-large;
  }
  
h3 {
    text-align: center;
    line-height: .5em; 
    font-size:large;
  }
  
ul li {
    list-style-type: none;  
  }
  
/* STIJLING VOOR SMALL SCREEN VERSIE PAGINA */
/*BODY HEADER*/
header {
  padding:.5em .75em;
  background-color:var(--main-header-color);
}

header ul {
  display: flex;
  justify-content: space-between;
}

header ul li {
  list-style-type: none; 
  width:5em;
}

 header img {
width: 50%;
} 


/* MAIN HEADER */
main header {
  background-color:var(--section-header-color); 
}

main header p {
  color:var(--header-color-a);
  text-align:center;
  /* padding: 0 7em; */
   width:60%;
   margin: 0.75em auto;
   line-height: 1.5em; 
}

main header a{
color:var(--header-color-a);
text-decoration:none;
}


/* VRAAG: Hamburger menu werkt niet bij mij */
/* HAMBURGER MENU */
button {
  position:relative; 
  width:3em; height:3em;
  margin:0; padding:0;
  font-size:1em;
  appearance:none;
  border:none;
  background-color:transparent;

  display:flex;
  justify-content:center;
  align-items:center;
}

button span {
  /* hiermee worden de span uit de normale flow gehaald */
  /* in combinatie met flex van de button staan ze dan over elkaar heen */
  position:absolute;
  width:2em; height: 2px;
  background-color:var(--button-background-color);
  transition:.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

button span:first-of-type {
  transform:translatey(-12px);  
}

button span:last-of-type {
  transform:translatey(12px);  
}

body.menuOpen button span {
  background-color:var(--button-background-color);
  /* zodat de beweging op de heenweg .5 seconde duurt */
  /* met ease-out begint de beweging snel en eindigt langzaam */
  transition:.5s ease-out;

}
body.menuOpen button span:first-of-type {
  /* het eerste streepje gaat terug naar het midden */
  /* en draait ondertussen 45 graden */
  transform:translatey(0) rotate(45deg);  
}

body.menuOpen button span:nth-of-type(2) {
  /* het tweede streepje wordt doorzichtig */
  opacity:0;
}

body.menuOpen button span:last-of-type {
  /* het laatste streepje gaat terug naar het midden */
  /* en draait ondertussen -45 graden */
  transform:translatey(0) rotate(-45deg);  
}






/* FIRST */
.first img:first-child {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 10%;
  margin-top: 2em;
}

/* VRAAG: Ik krijg de background image niet gepositioneerd achter de tekst, hoe doe ik dit? */
.first body { 
 background-image: url(/images/first\ section/macbook-swirl.jpeg);
}

.first a {
text-align: center;
text-decoration:none;
display: block;
margin-left: auto;
margin-right: auto; 
}


/* IPHONE 13 PRO */
.iphone-13-pro a{
  text-align: center;
  text-decoration:none;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

/* VRAAG: Hoe zet ik de A'tjes dichterbij elkaar? */
.iphone-13-pro ul {

  display: flex;
  justify-content:space-evenly;
 
}





.ipad-mini h2 em {
 color:transparent;
 background-image: linear-gradient(110deg,orange, hotpink 25%, purple);
 background-clip: text;
 -webkit-background-clip: text;
 display:inline-block;
 font-family: 'Pacifico', cursive;
 font-style: normal;
 padding-right:1em;

}