/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* ALGEMENE STIJLEN */
:root {
  --main-color:black;
  --main-color-a:#5F9EDE;
  --header-color-a:white;
  --background-color:#fff;
  --main-header-color:#333;
  --section-header-color:#E34140;
  --button-background-color:#D6D6D6;
  /* --white-space:5vw;  */
}

@font-face {
  font-family: "apple-font";
  src: url("/fonts/SFPRODISPLAYREGULAR.woff") format("woff");

  font-family: "apple-bold";
  src: url("/fonts/SFPRODISPLAYBOLD.woff");
}

body {
  margin:0;
  background-color:var(--background-color);
  font-family: apple-font;
  color:var( --main-color);
}

a {
  font:inherit;
  color:var(--main-color-a);
}

section img {
  width: 100%; 
  }

h1 {
    text-align: center;
    line-height: .5em; 
    font-size:x-large;
  }
  
h2 {
    text-align: center;
    line-height: .5em; 
  }
  
h3 {
    text-align: center;
    line-height: .5em; 
    font-size:large;
  }
  
ul li {
    list-style-type: none;  
  }
  
/* STIJLING VOOR SMALL SCREEN VERSIE PAGINA */
/*BODY HEADER*/

body > header nav {
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding:1px;
  background-color:var(--main-header-color);
}

body > header nav a {
  list-style-type: none; 
  width:2em;

}

body > header img {
width: 100%;
} 

header nav button {
  position:relative; 
  width:2em; height:2em;
  margin:0; padding:0;
  font-size:1em;
  appearance:none;
  border:none;
  background-color:transparent;

  display:flex;
  justify-content:center;
  align-items:center;
  order: -1;
}

/* HAMBURGER MENU OPENKLAPPEN */
header section {
  position:fixed;
  background-color:var(--main-header-color);
  top:0;
  left:0;
  right:0;
  bottom:0; 
  padding:4em 2em 2em;
  transform:translateY(-100%);
	
	transition:.5s;
}

header.menuOpen section {
  transform:translateY(0);
}

/* HAMBURGER MENU STREEPJES KNOP */
nav button span {
  /* hiermee worden de span uit de normale flow gehaald */
  /* in combinatie met flex van de button staan ze dan over elkaar heen */
  position:absolute;
  width:1.5em; height: 2px;
  background-color:var(--button-background-color);
  transition:.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

button span:first-of-type {
  transform:translatey(-8px);  
}

button span:last-of-type {
  transform:translatey(9px);  
}

header.menuOpen button span:first-of-type {
  /* het eerste streepje gaat terug naar het midden */
  /* en draait ondertussen 45 graden */
  transform:translatey(0) rotate(45deg);  
}
header.menuOpen button span:nth-of-type(2) {
  /* het tweede streepje wordt doorzichtig */
  opacity:0;
}
header.menuOpen button span:last-of-type {
  /* het laatste streepje gaat terug naar het midden */
  /* en draait ondertussen -45 graden */
  transform:translatey(0) rotate(-45deg);  
}




/* MAIN HEADER */
main header {
  background-color:var(--section-header-color); 

}

main header p {
  color:var(--header-color-a);
  text-align:center;
  /* padding: 0 7em; */
   width:60%;
   padding-top: .5em;
   padding-bottom: .5em;
   margin: 0em auto;
   line-height: 1.5em; 
}

main header a{
color:var(--header-color-a);
text-decoration:none;
}


/* FIRST */
.first { 
  background-color: #fcedf8;
 }

.first img:first-child {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 10%;
  padding-top: 2em; 
}

.first img:last-child {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.first h1 {
   text-align:center;
  /* padding: 0 7em; */
   width:50%;
   margin: 0.75em auto;
   line-height: 1.2em; 
   font-size:32px;
}

.first a {
text-align: center;
text-decoration:none;
display: block;
margin-left: auto;
margin-right: auto; 
}


/* IPHONE 13 PRO */
.iphone-13-pro {
  position:relative;
}

.iphone-13-pro section{
  position:absolute;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  padding: 1em;
}

.iphone-13-pro h2 {
  font-size:32px;
}

.iphone-13-pro a {
  text-align: center;
  text-decoration:none;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.iphone-13-pro ul {
  display: flex;
  justify-content:space-evenly;
}

.iphone-13-pro img {
  margin-top: .5em;
}



/* IPHONE 13 */
.iphone-13 {
 position:relative;
}

.iphone-13 section {
  /* https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically */
  position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.iphone-13 h2 {
  color: white;
  line-height: 1em; 
  font-size:20px;
  padding-top: 3em;
}

.iphone-13 h3 {
  color:lightpink;
  line-height: 0; 
  font-size:16px;
}

.iphone-13 ul {
  display: flex;
  justify-content:space-between;
  padding-bottom: 2em;
}

.iphone-13 a {
  text-align: center;
  text-decoration:none;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.iphone-13 img{
 margin-top: .5em;
}


/* MACBOOK PRO */
.macbook-pro {
  position:relative;
  margin-top: .5em;
}

.macbook-pro section{
  position:absolute;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  padding-top: 1em;
}

.macbook-pro h2 {
  font-size:32px;
}

.macbook-pro ul {
  display: flex;
  justify-content:space-evenly;

}

.macbook-pro a {
  text-decoration:none;

}




/* AIRPODS */
.airpods {
  position:relative;
  margin-top:.5em;
  /* background-color: #FBFBFD;
  border-bottom: #FBFBFD; */

}

.airpods section {
  position:absolute;
  width: 100%;
  display: block;
  margin-top: 18em;
  margin-left: auto;
  margin-right: auto; 
  background-color: #FBFBFD;
}

.airpods h2 {
  font-size:32px;
}

.airpods ul {
  display: flex;
  justify-content:space-evenly;
  /* background-color: #FBFBFD; */
}

.airpods a {
  text-decoration:none;
  }




/* APPLE WATCH */
.apple-watch {
  position:relative;
  margin-top: 5em;
}

.apple-watch section {
  position:absolute;
  width: 100%;
  display: block;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto; 
}

.apple-watch img:first-child {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 20%;
}



.apple-watch ul {
  display: flex;
  justify-content:space-evenly;
}

.apple-watch a {
  text-decoration:none;
}


/* IPAD MINI */
.ipad-mini {
  position:relative;
}

.ipad-mini section{
  position:absolute;
  width: 100%;
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto; 
}

.ipad-mini h2 em{
 color:transparent;
 background-image: linear-gradient(110deg,orange, hotpink 25%, purple);
 background-clip: text;
 -webkit-background-clip: text;
 /* display:inline-block; */
 font-family: 'Pacifico', cursive;
 font-style: normal;
 font-size: 32px;
}

.ipad-mini ul {
  display: flex;
  justify-content:space-evenly;
}

.ipad-mini a{
  text-decoration:none;
}

.ipad-mini img{
 margin-top: .5em;
}

/* AIRTAG */
.airtag {
  position:relative;
  background-color: #F5F5F7;
  margin-top: .5em;
}

.airtag section{
  position:absolute;
  width: 100%;
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto; 
}

.airtag h2 {
  font-size:30px;
}

.airtag img {
  margin-top: 5em;
}

.airtag ul {
  display: flex;
  justify-content:space-evenly;
}

.airtag a{
  text-decoration:none;
}


/* APPLE TV */
.apple-tv {
  position:relative;
  margin-top: .5em;
}

.apple-tv section {
  position:absolute;
  width: 100%;
  display: block;
  margin-top: 15em;
  margin-left: auto;
  margin-right: auto; 
  color:white;
}


.apple-tv img:first-child{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 16%;
  padding-top: 2em; 
}

.apple-tv ul{
  margin-top: 2em;
}
.apple-tv a{
  text-align: center;
  text-decoration:none;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  color:white;
  line-height: 1.5em;
}


/* FOOTER */
/* Streepjes toevoegen */
.footer{
  background-color: #F5F5F7;
  font-size: 14px;
  color:grey;
  padding-top: .5em;
}

.footer p:first-of-type {
padding-left: 1em;
line-height: 1.5em;
}

.footer ul a {
  text-decoration:none;
  color:grey;
}

.footer ul:first-of-type{
  line-height: 3em; 
  padding-left:1em;
}

.footer p:nth-of-type(2) {
  padding-left: 1em;
  line-height:1.5em;
}

.footer p a {
  text-decoration:none;
}

.footer p:nth-of-type(3) {
  padding-left: 1em;
  padding-top: 1em;
  font-family:apple-bold;
}

.footer p:nth-of-type(4) {
  padding-left: 1em;
  padding-top: 1em;
}

.footer ul:last-of-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:1em;
  line-height: 1em; 
  padding:0 1em 1em 1em;
  font-family:apple-bold;
  
}